<div class="col d-flex justify-content-center">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success form-control">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
</div>
