{% extends 'base.html.twig' %}

{% block title %}New Astreinte{% endblock %}

{% block body %}
    <h1>Create new Astreinte</h1>

    {{ include('astreinte/_form.html.twig') }}

    <a href="{{ path('app_astreinte_index') }}">back to list</a>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker();
        });
    </script>
{% endblock %}
